ALTER TABLE SITESPECIFIC.POSSEPROFILERRESULTS
  DROP CONSTRAINT POSSEPROFILERRESULTS_PK;

ALTER TABLE SITESPECIFIC.POSSEPROFILERRESULTS ADD (
  CONSTRAINT POSSEPROFILERRESULTS_PK
  PRIMARY KEY
  (OBJECTDEFID, COLUMNDEFID));
