ALTER TABLE SITESPECIFIC.LICBATCHLICTYPE_XREF_T
  DROP CONSTRAINT LICBATCHLICTYPE_XREF_PK;

ALTER TABLE SITESPECIFIC.LICBATCHLICTYPE_XREF_T ADD (
  CONSTRAINT LICBATCHLICTYPE_XREF_PK
  PRIMARY KEY
  (LICENSEBATCHJOBID, LICENSETYPEJOBID));
