ALTER TABLE SITESPECIFIC.SLTSTATUSCHANGE_T
  DROP CONSTRAINT SLTSTATUSCHANGE_PK;

ALTER TABLE SITESPECIFIC.SLTSTATUSCHANGE_T ADD (
  CONSTRAINT SLTSTATUSCHANGE_PK
  PRIMARY KEY
  (SLTSTATUSCHANGEID));
