ALTER TABLE SITESPECIFIC.LTJOBSTATUSCHANGE_T
  DROP CONSTRAINT LTJOBSTATUSCHANGE_PK;

ALTER TABLE SITESPECIFIC.LTJOBSTATUSCHANGE_T ADD (
  CONSTRAINT LTJOBSTATUSCHANGE_PK
  PRIMARY KEY
  (JOBSTATUSCHANGEID));
