ALTER TABLE SITESPECIFIC.CONFIGCOPYSESSIONDATA
  DROP CONSTRAINT CONFIGCOPYSESSIONDATA_PK;

ALTER TABLE SITESPECIFIC.CONFIGCOPYSESSIONDATA ADD (
  CONSTRAINT CONFIGCOPYSESSIONDATA_PK
  PRIMARY KEY
  (TARGETID));
