ALTER TABLE SITESPECIFIC.CONFIGCOPYSESSIONDATA
  DROP CONSTRAINT CONFIGCOPYSESSIONDATA_UK_1;

ALTER TABLE SITESPECIFIC.CONFIGCOPYSESSIONDATA ADD (
  CONSTRAINT CONFIGCOPYSESSIONDATA_UK_1
  UNIQUE (CONFIGCOPYSESSIONID, SOURCEID));
