ALTER TABLE SITESPECIFIC.CONFIGCOPYSESSIONS
  DROP CONSTRAINT CONFIGCOPYSESSIONS_UK_1;

ALTER TABLE SITESPECIFIC.CONFIGCOPYSESSIONS ADD (
  CONSTRAINT CONFIGCOPYSESSIONS_UK_1
  UNIQUE (CLASSID, SOURCEINSTANCEID, TARGETINSTANCEID));
