ALTER TABLE SITESPECIFIC.LESSTHANZEROBALANCE_T
  DROP CONSTRAINT LESSTHANZEROBALANCE_PK;

ALTER TABLE SITESPECIFIC.LESSTHANZEROBALANCE_T ADD (
  CONSTRAINT LESSTHANZEROBALANCE_PK
  PRIMARY KEY
  (JOBID));
