ALTER TABLE SITESPECIFIC.CONFIGCOPYSESSIONS
  DROP CONSTRAINT CONFIGCOPYSESSIONS_PK;

ALTER TABLE SITESPECIFIC.CONFIGCOPYSESSIONS ADD (
  CONSTRAINT CONFIGCOPYSESSIONS_PK
  PRIMARY KEY
  (CONFIGCOPYSESSIONID));
