/************************************************************************
*	File:			default.css
*	Author:			Timothy J. Lord
*
*	Description:	This css file contains the default control styles used by the
*					RQS Web Application.
*
*	$Rev: 51 $   $Date: 2018-09-01 12:02:56 -0700 (Sat, 01 Sep 2018) $
*  Modified By: $Author: TLord $
* 
* ***********************************************************************
*   History:
*      Date  Developer  
* -----------------------------------------------------------------------
*   04/26/2015  TJL      Ticket 6197
*************************************************************************

/* ****************************************************************************************************** */
/* Application other styles */
/* ****************************************************************************************************** */
body {
    width: 99%;
    height: 99%;
}

input[type=button], input[type=submit]	
{     
	min-height: 1.5em;
	padding: 6px 12px;
	margin: 10px 5px 5px 0px;
	cursor: pointer;
    
	font-size: 0.75em; /*1em;*/
	letter-spacing: 1px;
   
	-webkit-border-radius: 4px;
		-khtml-border-radius: 4px;
		-moz-border-radius: 4px;
			-o-border-radius: 4px;
			border-radius: 4px;
	-webkit-transition: all 0.1s linear;
		-khtml-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
			-o-transition: all 0.1s linear;
			transition: all 0.1s linear;
    width: 120px;
}

fieldset
{
	padding:0 0 0 0;
	border-radius:0.75em;
	border-width: 0; 
}

fieldset table { border-collapse:collapse; width:100%; border-radius: 0.5em; }
fieldset td    { padding: 3px 0px 3px 1em; margin:2px; }
fieldset table > thead > tr > th
{
	padding: 0.6em;
	margin: 0;
	vertical-align:bottom;
}

fieldset table > thead > tr:first-child > th:first-child
{
	border-top-left-radius: 0.5em;
}

fieldset table > thead > tr:first-child > th:last-child
{
	border-top-right-radius: 0.5em;
}

fieldset table > tbody > tr:last-child > td:first-child
{
	border-bottom-left-radius: 0.5em;
}

fieldset table > tbody > tr:last-child > td:last-child
{
	border-bottom-right-radius: 0.5em;
}


header				
{
	margin:0 0 0 -.5px;
	border-radius:0.5em 0.5em 0 0;
	padding:0.5em 0 0.5em 0;
	text-align:center;
	font-size: 1.5em;
	font-weight: bold;
}
		

div#page-panel  /*Master page style*/
{
    width:1200px;
    margin:30px auto;
    
    padding: 0px;
    display: block;
    position:  relative;
    border-radius: 10px;

	-moz-box-shadow:    rgba(0,0,0,0.7) 0px 0px 30px 0px;
	-webkit-box-shadow: rgba(0,0,0,0.7) 0px 0px 30px 0px;
	box-shadow:         rgba(0,0,0,0.7) 0px 0px 30px 0px;
}

div#master-header
{
    border-radius:10px 10px 0px 0px; 
    padding: 0px 0px 0px 0px; 
    font-family:'Lucida Calligraphy'; 
    font-size:36pt;
}

#pnlMainContent     /*Main content area of the master page*/
{
    padding:0px;
    min-height:500px;
}

div#page-left       /*Left panel of navigation master*/
{
    width: 18%; /*200px;*/
    display:inline-block; 
    border-bottom-left-radius:10px; 
    min-height:500px; 
    vertical-align:top;
    padding:10px;
}

#page-left div.btn div
{
    padding-left:15px; 
    text-indent: -10px;
    margin: 2px 0px;
}

div#page-right      /*Main page area of an aspx page*/
{
    width: 80%; /*970px;*/
    display:inline-block;
}

.btn
{
    border-width: 0px;
    text-decoration: underline;
    padding:5px;
    border-radius: 5px;
}

.btn:hover
{
    cursor: pointer;  
}

.btn-push
{
    width:10px;
    height:15px;
    border-radius: 5px;

}

.btn-push:hover
{
    cursor: pointer;  
}

.btn-disabled:hover
{
    cursor: default;
}

fieldset table > tbody > tr:hover,
.rpt-row,
.rpt-row-normal 
{ 
    /*background-color: #d8d8d8;  transparent;*/ 
    cursor: pointer;
}


input
{
    border-radius:5px;
}

.line
{
    margin:3px 0px;
}

.no-display
{
    display:none;
    padding:3px 0px;
}

.left-col
{
    padding-right:10px;
    text-align: right;
    display:inline-block;
    width: 150px;
    vertical-align:top;
}

.right-col
{
    display:inline-block;
}

h1, .page-heading
{
    padding: 10px 0px;
    text-align:center; 
    font-weight:bold; 
    font-size:18pt; 
    margin-bottom:10px; 
    border-radius:10px;
}
.rpt-heading 
{
    padding: 10px 0px;
    text-align:center; 
    font-weight:bold; 
    margin-bottom:0px; 
    border-radius:10px 10px 0px 0px;
}

.box
{
    border-radius: 0px 0px 10px 10px;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    padding: 10px;
}

#display-list
{
    overflow-x:hidden; 
    overflow-y:auto; 
    max-height:500px;
}

.desc-col {
    display: inline-block;
    width: 250px;
}

.data-cols {
    display: inline-block;
    width: 50px;
    text-align: right;
}

#request-id, #request-msg
{
    text-align:center; 
    font-size:16pt;
    margin-bottom: 10px;
}

        #msg-target 
        { 
            position: absolute; 
            display:none; 
            border-radius:10px; 
            padding: 15px;
            box-shadow:rgba(0,0,0,0.7) 0px 0px 10px 10px; 
            overflow-y: auto; 
            overflow-x: auto; 
            max-height: 100%;
        } 

        .msg-info 
        { 
            overflow-y: auto; 
            overflow-x: auto;
            width: 870px;
            display: inline-block; 
          
        } 
        .inline { 
            display: inline-block; 
            max-width:600px; 
            white-space:normal; 
        } 
          
        .msg-label { 
            width: 200px; 
            vertical-align: top; 
            color: #02019d;
        } 
       #msg-buttons { 
            text-align: center; 
            width:100%; 
            padding-bottom: 10px; 
        } 

