/************************************************************************
*	File:			default-color.css
*	Author:			Timothy J. Lord
*
*	Description:	This css file contains the default colors used by the
*					RQS Web Application.
*
*	$Rev: 51 $   $Date: 2018-09-01 12:02:56 -0700 (Sat, 01 Sep 2018) $
*  Modified By: $Author: TLord $
* 
* ***********************************************************************
*   History:
*      Date  Developer  
* -----------------------------------------------------------------------
*   04/24/2015  TJL      Ticket 6197
*************************************************************************

*************************************************************************
	current RQS colors
.color-primary-1 { color: #FFFAEB }
.color-primary-2 { color: #C5AD67 }
.color-primary-0 { color: #947A31 }	-- Main Primary color --
.color-primary-3 { color: # }
.color-primary-4 { color: #533F08 }

-- As RGBa codes --
.rgba-primary-1 { color: rgba(,1) }
.rgba-primary-2 { color: rgba(,1) }
.rgba-primary-0 { color: rgba(197,173,103,1) }	/* Main Primary color --
.rgba-primary-3 { color: rgba(,1) }
.rgba-primary-4 { color: rgba( ,1) }

*************************************************************************
*/

#back-ground
{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
	background: -moz-linear-gradient(top, rgba(197,173,103,0.6) 0%, rgba(197,173,103,0) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, rgba(197,173,103,0.6) 0%,rgba(197,173,103,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(197,173,103,0.6) 0%,rgba(197,173,103,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(197,173,103,0.6) 0%,rgba(197,173,103,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(197,173,103,0.6) 0%,rgba(197,173,103,0) 100%); /* W3C */
/*//    background: black;*/
}

input[type=text]	{}

input[type=button], input[type=submit] 	
{     
	opacity: 0.9;
	color: #FFF;
	text-shadow: rgba(0,0,0,0.9) 0px 1px 2px;
    
	background-color: #533F08;
	border: 1px solid #533F08;
   
	-webkit-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
		-khtml-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
		-moz-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
			-o-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
			box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
}

input[type=button]:hover, input[type=submit]:hover 
{
	-webkit-box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
		-khtml-box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
		-moz-box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
			-o-box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
			box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
}

.shadow
{
	-moz-box-shadow:    rgba(0,0,0,0.7) 0px 0px 30px 0px;
	-webkit-box-shadow: rgba(0,0,0,0.7) 0px 0px 30px 0px;
	box-shadow:         rgba(0,0,0,0.7) 0px 0px 30px 0px;

}


#page-right,		/*Main page area of an aspx page*/
#page-left div.btn,
input.btn							{ background-color: transparent; color:inherit; }
.rpt-row,
.rpt-row-normal						{ background-color: #FFFAEB; color:inherit; }

div#page-panel						{ background-color: #FFFAEB; }
.box								{ background-color: #E5D29D ; border-color: #533F08; }
fieldset							{ background-color: #fff; }
fieldset table						{ background-color: #ffffff; border: 1px solid #533F08; }
fieldset table > thead > tr > th	{ background-color: #533F08; color: #ffffff; }
fieldset table > tbody > tr			{ background-color: #FFFAEB; }
fieldset table > tbody > tr:nth-child(even),
.rpt-row:nth-child(even)			{ background-color: #C5AD67; }

hr,
header,
.page-heading,
.rpt-heading,
#page-left div.btn:hover			{ background-color: #533F08; color: #FFFFFF; }

fieldset table > tbody > tr:hover,
.rpt-row:hover,
.rpt-row-normal:hover				{ background-color: #947A31; color: #ffffff; }

input[type=button].btn-start		{ background-color: green; }
input[type=button].btn-delete, 	
input[type=button].btn-stop			{ background-color: red; }
input[type=button].btn-disabled		{ background-color: gray; }

request-id, request-msg
{
    color:#640a0a;
}

#msg-target 
{ 
    background-color:rgba(255,255,255, 1); 
} 

