<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<appSettings>
		<add key="loggingtype"
			 value="T" />
		<!-- level (E,W,I,T) -->
		<add key="semaphore"
			 value="LEADLogging" />
		<add key="email"
			 value="Y"/>
		<add key="from"
			 value="ITServiceDesk@abc.ca.gov"/>
		<add key="to"
			 value="timothy.lord@abc.ca.gov"/>
		<!--Leadinfo@abc.ca.gov-->
		<add key="SiteKey"
			 value="6LeN_iATAAAAAA-NY9yznKHjaUAmznJkXI1O4iW6"/>
		<add key="SecretKey"
			 value="6LeN_iATAAAAAIWN7To_FAQ6l-YiXWTe9ppm83Nq"/>
	</appSettings>
	<system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
	  <pages maintainScrollPositionOnPostBack="true" />
    </system.web>
	
</configuration>
