<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="AppConfigurationSettings"
				 type="ABCRQSUtils.AppConfigurationSettings, ABCRQSUtils"/>
		<section name="FTPConfigurationSettings"
				 type="ABCRQSUtils.FTPConfigurationSettings, ABCRQSUtils" />
	</configSections>

	<AppConfigurationSettings>
		<AppSettings>
			<add name="tnsname"
			     value="abisqa1" />
			<add name="connection"
                 	     value="user id=abcreports;password=abisqa1;data source=abisqa1" />
		</AppSettings>
		<FTPSettings>
			<add report="Reports"
			     url="172.20.11.31/ReportQuerySystem/Reports/"
                 	     user="abisftp_user"
			     password="39Ftp@bis4Abc27"
			     protocol="SSL"/>
		</FTPSettings>
	</AppConfigurationSettings>
</configuration>
