<?xml version="1.0"?>
<configuration>
	<appSettings>
	</appSettings>
	
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>

    <authentication mode="Windows" />
    <!--<identity impersonate="true"/>-->

    <authorization>
      <allow users="*" />
    </authorization>

  </system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Oracle.DataAccess"
          culture="neutral"
          publicKeyToken="89b483f429c47342" />
				<bindingRedirect oldVersion="0.0.0.0-4.112.3.0"
         newVersion="4.112.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"></transport>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="WebServiceAD.adAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
    <services>
      <service name="RQS.WebService">
        <endpoint address="" behaviorConfiguration="WebServiceAD.adAspNetAjaxBehavior"
            binding="webHttpBinding" contract="RQS.IWebService" />
      </service>
    </services>
  </system.serviceModel>

</configuration>