body {
}

table#default-header { width: 90%; margin:auto; }

table#default-header > tbody > tr:nth-child(1) > td:nth-child(1) { text-align:center; font-weight:bold; font-size:1.3em; }
table#default-header > tbody > tr:nth-child(2) > td:nth-child(1) { width: 25%; text-align:left;}
table#default-header > tbody > tr:nth-child(2) > td:nth-child(2) { width: 50%; text-align:center;}
table#default-header > tbody > tr:nth-child(2) > td:nth-child(3) { width: 25%; text-align:right;}

table#default-header > tbody > tr > td { vertical-align: top;}
