ALTER TABLE BIZMOD_API.E_PAYMENTS_T
  DROP CONSTRAINT E_PAYMENTS_T_PK;

ALTER TABLE BIZMOD_API.E_PAYMENTS_T ADD (
  CONSTRAINT E_PAYMENTS_T_PK
  PRIMARY KEY
  (LICENSENUMBER, LICENSETYPECODE, CONFIRMATIONID));
