ALTER TABLE ABCLQS.RENEWAL_INFO
  DROP CONSTRAINT RENEWAL_INFO_PK;

ALTER TABLE ABCLQS.RENEWAL_INFO ADD (
  CONSTRAINT RENEWAL_INFO_PK
  PRIMARY KEY
  (LICENSENUMBER, LICENSETYPECODE, EXPIRATIONDATE));
