ALTER TABLE ABCLQS.RENEWAL_INFO_TEMP
  DROP CONSTRAINT RENEWAL_INFO_TEMP_PK;

ALTER TABLE ABCLQS.RENEWAL_INFO_TEMP ADD (
  CONSTRAINT RENEWAL_INFO_TEMP_PK
  PRIMARY KEY
  (LICENSENUMBER, LICENSETYPECODE, EXPIRATIONDATE));
