ALTER TABLE ABC.SELF_CERTIFICATION
  DROP CONSTRAINT SELF_CERTIFICATION_PK;

ALTER TABLE ABC.SELF_CERTIFICATION ADD (
  CONSTRAINT SELF_CERTIFICATION_PK
  PRIMARY KEY
  (LICENSENUMBER, LICENSETYPECODE, EXPIRATIONDATE));
