ALTER TABLE ABC.SELF_CERTIFICATION
  DROP CONSTRAINT SELF_CERTIFICATION_FK;


ALTER TABLE ABC.SELF_CERTIFICATION ADD (
  CONSTRAINT SELF_CERTIFICATION_FK 
  FOREIGN KEY (LICENSENUMBER, LICENSETYPECODE, EXPIRATIONDATE) 
  REFERENCES ABCLQS.RENEWAL_INFO (LICENSENUMBER, LICENSETYPECODE, EXPIRATIONDATE)
  ON DELETE CASCADE);
