ALTER TABLE ABC.ALLOCATION_INITIALFETCH
  DROP CONSTRAINT ALLOCATION_INITFET_PK;

ALTER TABLE ABC.ALLOCATION_INITIALFETCH ADD (
  CONSTRAINT ALLOCATION_INITFET_PK
  PRIMARY KEY
  (RECORD_NUM, LICENSENUMBER, ISMASTER, FEEACTIVITY));
