ALTER TABLE ABCREPORTS.REPORT_QUEUE_STATUS
  DROP CONSTRAINT REPORT_QUEUE_STATUS_SEQ_FK;


ALTER TABLE ABCREPORTS.REPORT_QUEUE_STATUS ADD (
  CONSTRAINT REPORT_QUEUE_STATUS_SEQ_FK 
  FOREIGN KEY (SEQ) 
  REFERENCES ABCREPORTS.REPORT_XREF (SEQ)
  ON DELETE CASCADE);
