ALTER TABLE ABCREPORTS.RQS_REPORT_DEF_ACCESS
  DROP CONSTRAINT RQS_REPORT_DEF_ACCESS_CK01;

ALTER TABLE ABCREPORTS.RQS_REPORT_DEF_ACCESS ADD (
  CONSTRAINT RQS_REPORT_DEF_ACCESS_CK01
  CHECK (ACCESS_IND IN ('D', 'H', 'O')));
