ALTER TABLE ABCREPORTS.REPORT_QUEUE
  DROP CONSTRAINT REPORT_QUEUE_SEQ_FK;


ALTER TABLE ABCREPORTS.REPORT_QUEUE ADD (
  CONSTRAINT REPORT_QUEUE_SEQ_FK 
  FOREIGN KEY (SEQ) 
  REFERENCES ABCREPORTS.REPORT_XREF (SEQ)
  ON DELETE CASCADE);
