ALTER TABLE ABCREPORTS.RQS_USER_ROLE
  DROP CONSTRAINT RQS_USER_ROLE_CK01;

ALTER TABLE ABCREPORTS.RQS_USER_ROLE ADD (
  CONSTRAINT RQS_USER_ROLE_CK01
  CHECK (USER_ROLE_IND IN ('I', 'M', 'U', 'S')));
