ALTER TABLE ABCREPORTS.REPORTS
  DROP CONSTRAINT REPORTS_SEQ_FK;


ALTER TABLE ABCREPORTS.REPORTS ADD (
  CONSTRAINT REPORTS_SEQ_FK 
  FOREIGN KEY (SEQ) 
  REFERENCES ABCREPORTS.REPORT_XREF (SEQ)
  ON DELETE CASCADE);
