<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="AppConfigurationSettings"
			 type="ABCRQSUtils.AppConfigurationSettings, ABCRQSUtils" />
		<section name="FTPConfigurationSettings"
			 type="ABCRQSUtils.FTPConfigurationSettings, ABCRQSUtils" />
	</configSections>

	<AppConfigurationSettings>
		<AppSettings>
			<add name="xsltpreprocessor"
			     location="~\Formats\"
			     save="save"
			     temp="~\temp\" />
			<add name="loggingconnection"
			     value="i4MlFFK25YAthnq41N8ZgyQVssr3qRFcIL4xSlxOJZZC1yxKwxcne2FLFhHqe1cQjCqqi1k2JSAkao1tq+3Imw==" />
			<add name="loggingtype"
			     value="T:D,F,E" />
			<!-- level (E,W,I,T) : D - database, F - file, E - Event -->
			<add name="semaphore"
			     value="RQSProduction" />
			<add name="connection"
			     value="user id=abcreports;password=abisst1;data source=abisst1" />
		</AppSettings>

		<FTPSettings>
			<add report="Reports"
			     url="172.20.11.82/ReportQuerySystem/Reports/"
                 	     user="abisftp_user"
			     password="39Ftp@bis4Abc27"/>
				 
			<!--Longbeach PD-->
			<!--
			<add report="Long Beach PD"
			     url="ClbVoyage.LongBeach.Gov/ABC/"
			     user=""
			     password="" />
			-->
			<!--
			<add report="XXXCDTFA Extract"
			     host="165.235.134.50"
			     port="2222"
			     user="ABC_PROD"
		             password="ABCl1censing!"
		             destination="/ABC Licensing Import/To_CDTFA/"
		             protocol="sftp" />
			-->
		</FTPSettings>
	</AppConfigurationSettings>
</configuration>
