<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--log source is for event log source-->
		<add key="log source" value="RQSService"/>
		<add key="log" value="Application"/>
		<add key="trace" value="Y"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>