<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AppConfigurationSettings"
			 type="ABCRQSUtils.AppConfigurationSettings, ABCRQSUtils" />
    <section name="FTPConfigurationSettings"
			 type="ABCRQSUtils.FTPConfigurationSettings, ABCRQSUtils" />
  </configSections>

  <appSettings>
<!--    log source is for event log source-->
    <add key="log source" value="RQSService"/>
    <add key="log" value="Application"/>
    <add key="trace" value="Y"/>
    <add key="connection" value="user id=abcreports;password=abiss1;data source=abiss1" />
  </appSettings>
  

  <AppConfigurationSettings>
    <AppSettings>
      <add name="connection" value="user id=abcreports;password=abiss1;data source=abiss1" />
      <add name="ip" value ="10.100.2.244"/>
      <add name="port" value="50001"/>
      <add name="xsltpreprocessor"
			     location="~\Formats\"
			     save="save"
			     temp="~\temp\" />
      <add name="loggingconnection"
			     value="user id=abcreports;password=abiss1;data source=abiss1" />
      <add name="loggingtype"
			     value="T:D,F,E" />
      <!-- level (E,W,I,T) : D - database, F - file, E - Event -->
      <add name="semaphore"
			     value="RQSProduction" />
    </AppSettings>

    <FTPSettings>
      <add report="Reports"
			     url="172.20.11.82/ReportQuerySystem/Reports/"
                 	     user="abisftp_user"
			     password="39Ftp@bis4Abc27"/>

      <!--Longbeach PD-->
      <!--
			<add report="Long Beach PD"
			     url="ClbVoyage.LongBeach.Gov/ABC/"
			     user=""
			     password="" />
			-->
      <!--
			<add report="XXXCDTFA Extract"
			     host="165.235.134.50"
			     port="2222"
			     user="ABC_PROD"
		             password="ABCl1censing!"
		             destination="/ABC Licensing Import/To_CDTFA/"
		             protocol="sftp" />
			-->
    </FTPSettings>
  </AppConfigurationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>