

#back-ground {
	background: #96c4cf; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#96c4cf, #ffffff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#96c4cf, #ffffff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#96c4cf, #ffffff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#96c4cf, #ffffff); /* Standard syntax */
	height: 100%;
	background-attachment: fixed;
}

input[type=button], input[type=submit] {
	opacity: 0.9;
	color: #FFF;
	text-shadow: rgba(0,0,0,0.9) 0px 1px 2px;
	background-color: #04a8cf;
	border: 1px solid #04a8cf;
	-webkit-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
	-khtml-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
	-moz-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
	-o-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
	box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
}

	input[type=button]:hover, input[type=submit]:hover {
		-webkit-box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
		-khtml-box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
		-moz-box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
		-o-box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
		box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
	}

	input[type=button]:disabled, input[type=submit]:disabled {
		opacity: 0.9;
		color: #FFF;
		text-shadow: rgba(0,0,0,0.9) 0px 1px 2px;
		background-color: #BAbEbE;
		border: 1px solid #BAbEbE;
		-webkit-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
		-khtml-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
		-moz-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
		-o-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
		box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
	}


.shadow {
	-moz-box-shadow: rgba(0,0,0,0.7) 0px 0px 30px 0px;
	-webkit-box-shadow: rgba(0,0,0,0.7) 0px 0px 30px 0px;
	box-shadow: rgba(0,0,0,1) 0px 0px 5em 0px;
}

fieldset {
	background-color: transparent;
}

hr,
header {
	background-color: #04a8cf;
	color: #FFFFFF;
}

.title {
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	padding: .4em 0;
	margin-bottom: 1em;
	background-color: #04a8cf;
	color: #e5f0f3;
	border-radius: .4em .4em 0 0;
}

.header {
	border-bottom: solid 1px #04a8cf;
	border-radius: 145px 10px 0 0;
	height: 150px;
	margin: 0px auto 0 auto;
	padding: 10px;
	vertical-align: top;
	background-color: #daeaee;
}

.main {
	margin: 40px auto;
	width: 800px;
	border: 1px solid black;
	border-radius: 145px 10px 10px 10px;
	background-color: #daeaee;
}

.button {
	margin: 0 .3em;
}

.label {
	display: inline-block;
	vertical-align: top;
	width: 5em;
	padding-bottom: 1em;
	text-align: right;
	padding-right: 1em;
}

.content {
	margin: 1.5em 1em;
	background-color: #ffffff;
	border: solid 1px #04a8cf;
	border-radius: .6em;
	padding: 0em;
}


input[type=button], input[type=submit] {
	padding: .3em;
	margin: .1em;
	cursor: pointer;
	font-size: 0.75em; /*1em;*/
	letter-spacing: 1px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: all 0.1s linear;
	-khtml-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

	input[type=button]:disabled, input[type=submit]:disabled {
		cursor: default;
	}

fieldset {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	border-radius: 0.75em;
	border-width: 0;
}

	fieldset table {
		border-collapse: collapse;
		width: 100%;
		border-radius: 0.5em;
	}

.signin fieldset td {
	padding: 5px 0px 5px 1em;
	margin: 2px;
}

fieldset table > thead > tr > th {
	padding: 0.6em;
	margin: 0;
	vertical-align: bottom;
}

fieldset table > tbody > tr:last-child > td:first-child {
	border-bottom-left-radius: 0.5em;
}

fieldset table > tbody > tr:last-child > td:last-child {
	border-bottom-right-radius: 0.5em;
}


fieldset header {
	margin: 0 0 0 .5px;
	border-radius: 0.5em 0.5em 0 0;
	padding: 0.5em 0 0.5em 0;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

@media (max-width: 1280px) and (min-width: 1025px) {
	.div-main {
		margin: .2em auto;
		width: 980px;
	}
}

@media (min-width: 1281px) {
	.div-main {
		margin: .2em auto;
		width: 1280px;
	}
}


/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

#modal, #basic-modal-content {display:none;}
#modal      { width: 300px; line-height: 150px; color: #bbb;
			  background-color: #333; border: 4px solid #444; padding: 12px; text-align: center;
		    }
#modal span { vertical-align: middle; line-height: normal; font-size: 2em; }				


/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
/*#simplemodal-container {height:360px; width:600px; color:#bbb; background-color:#333; border:4px solid #444; padding:12px;}*/
/*#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../img/basic/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}*/
