<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="wait-time"
			 value="15"/>
		<add key="time-out"
			 value="15"/>

		<!--log source is for event log source-->
		<add key="log source"
			 value="LEADMonitor"/>
		<add key="log"
			 value="Application"/>
		<add key="trace"
			 value="Y"/>
		<add key="loggingtype"
			 value="T" />

		<add key="email"
			 value="Y"/>
		<add key="from"
			 value="ITServiceDesk@abc.ca.gov"/>
		<add key="to"
			 value="timothy.lord@abc.ca.gov"/>
		<!--Leadinfo@abc.ca.gov-->

		<add key="service"
			 value="ABC LEAD Proc Srvr"/>

		<!--<add key="user id"
			 value="possedba"/>-->
		<add key="user id"
			 value="abc"/>
	</appSettings>
</configuration>