<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AppConfigurationSettings"
				 type="ABCRQSUtils.AppConfigurationSettings, ABCRQSUtils" />
    <section name="FTPConfigurationSettings"
				 type="ABCRQSUtils.FTPConfigurationSettings, ABCRQSUtils" />
  </configSections>

  <AppConfigurationSettings>
    <FTPSettings>
      <add report="CDTFA"
         host="165.235.134.50"
         port="2222"
         user="abc_license_in_test"
         password="s!$=$pL]FH4N3scn"
         destination="/from ABC/"
         protocol="sftp" />
           
      <add report="TEST"
         host="134.186.174.118"
         port="21"
         destination="abc.ca.gov/datport/adhoc/ww/"
           
         url="134.186.174.118/abc.ca.gov/datport/adhoc/"
         encrypted="BQ5Xe/TJEuafd9G3q5hCgQ==" />
    </FTPSettings>
  </AppConfigurationSettings>
</configuration>